{# templates/wild/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1>Toutes les séries : </h1>


    <div class="seriespage">
        <div class="container-fluid">
            <div class="row">
                {% for program in programs %}
                    <div class="card col-4" style="width: 25%;">
                        <a href="/wild/show/{{ program.title |replace({' ':'-'})|lower }}">
                        <div class="card-body">
                            <h2 class="card-title">{{ program.title }}</h2>
                                <h6 class="card-subtitle mb-2 text-muted">Catégorie : {{ program.category.name }}</h6>
                            <p class="card-text">{{ program.summary }}</p>
                        </div>
                        </a>

                    </div>

                {% else %}
                    Aucune série trouvée.
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}